<!-- <h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your email.</p>

<form #form="ngForm" aria-labelledby="title" style =" margin: auto;
width: 50%;
padding: 10px;
text-align: center;">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="userObj.userEmail"
           #email="ngModel"
           name="email"
           id="input-email"
           pattern=".+@.+\..+"
           placeholder="Email address"
           autofocus>
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        Email is required!
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        Email should be the real one!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="userObj.userPassword"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="Password">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        Password is required!
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        Password should contains
        from {{ getConfigValue('forms.validation.password.minLength') }}
        to {{ getConfigValue('forms.validation.password.maxLength') }}
        characters
      </p>
    </ng-container>
  </div>

  <button nbButton
          (click)=signIn()
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Log In
  </button>
</form> -->


<div class="container" style="max-width: 500px;">
  <h3 class="mb-3 mt-5 text-center">Login</h3>

  <div class="form-group">
    <input type="text" [(ngModel)]="userObj.userEmail" class="form-control" placeholder="Email">

  </div>
  <div class="form-group">
      <input type="password" [(ngModel)]="userObj.userPassword" class="form-control" placeholder="Password">
    </div>
    <div>
      <div class="error">
        {{errorMessage}}
    </div>

  <div style="text-align: center;" >
    <button class="button"
    style="vertical-align: middle"
    type="button"
    id="send"
    style="cursor: pointer" (click)="signIn()">Enter</button>
  </div>