<p>branches: </p>

<ul *ngFor="let a of branches">
    <mat-nav-list>
        <a mat-list-item style="text-align: center;margin-right: 30px;">
            <span mat-line>{{a._id}}      </span>
            <span mat-line>{{a.address}}      </span>
            <span mat-line>{{a.city}}    </span>
            <span mat-line>{{a.district}}  </span>
            <span mat-line>{{a.itemList}} </span>
        </a>
    </mat-nav-list>
</ul>

<p>items: </p>

<ul *ngFor="let a of items">
    <mat-nav-list>
        <a mat-list-item style="text-align: center;margin-right: 30px;">
            <span mat-line>{{a._id}}      </span>
            <span mat-line>{{a.name}}      </span>
            <span mat-line>{{a.price}}    </span>
            <span mat-line>{{a.type}}  </span>
        </a>
    </mat-nav-list>
</ul>

<p>users: </p>

<ul *ngFor="let a of users">
    <mat-nav-list>
        <a mat-list-item style="text-align: center;margin-right: 30px;">
            <span mat-line>{{a._id}}      </span>
            <span mat-line>{{a.email}}      </span>
            <span mat-line>{{a.role}}    </span>
            <span mat-line>{{a.favItem}}    </span>
            <span mat-line>{{a.favBranch}}    </span>
        </a>
    </mat-nav-list>
</ul>

<p> Branches count : {{branchesCount}} </p>
  
<p> Items count : {{itemsCount}}</p>

<p> Users count : {{usersCount}}</p>
